/* some style */
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 52px;
  text-align: center;
}

h3 {
  font-size: 24px;
  text-align: center;
}

a {
  color: #f62d71;
}

a:hover {
  color: #6bb0ed;
  text-decoration: underline;
}

.loading {
  padding-top: 25%;
  font-size: 36px;
  text-align: center;
  vertical-align: middle;
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.control {
  padding-left: 10px;
}

.diagram {
  display: block;
  height: 550px;
  margin: 0 auto;
}
